/* styles.css */

*{ background-color: #6b92d6;
}
body{ color:rgb(208, 10, 238)}

h1{ font-family:Almond Nougat;
    
}
  h4{ font-family:Arial Narrow ;
    color: #15f734;
  } 
  h2{font-family:Bright Sunday;} 
h2{color:rgb(4, 15, 15)}
h6{color:rgb(4, 19, 52)}
h6{font-family:Bright Sunday;}