*{ background-color: #121212;
}
body{ color:rgb(137, 104, 193)}

h1{ font-family:CHICKEN Pie Height;
    
}
  h4{ font-family:Arial Narrow ;
    color: #9db79b;
  } 
  h5{font-family:Bright Sunday;} 
h5{color:rgb(0, 0, 0)}
h3{color:rgb(242, 25, 119)}
h3{ font-style: oblique;}
h3{font-family:arial narrow;}