/* styles.css */

*{ background-color: #b79d87;
}
body{ color:rgb(58, 77, 92)}

h1{ font-family:Almond Nougat;

}
h2{color:rgb(132, 162, 1)}
h2{font-family: helvetica;}
  h4{ font-family:Arial Narrow ;
    color: #2d7411;
  } 
  h5{font-family:Bright Sunday;} 
h5{color:rgb(7, 102, 102)}