
*{ background-color: #b977a9;
}
body{ color:rgb(44, 19, 88)}

h1{ font-family:CHICKEN Pie Height;
    
}
  h4{ font-family:Arial Narrow ;
    color: #dfc413;
  } 
  h5{font-family:Bright Sunday;} 
h5{color:rgb(0, 0, 0)}
h3{color:rgb(121, 7, 7)}
h3{ font-style: oblique;}
h3{font-family:arial narrow;}