/* styles.css */

*{ background-color: #f5c3e9;
}
body{ color:rgb(4, 57, 103)}

h1{ font-family:Almond Nougat;
    
}
  h4{ font-family:Arial Narrow ;
    color: #150a0a;
  } 
  h5{font-family:Bright Sunday;} 
h5{color:rgb(7, 102, 102)}
